/* 景区页面样式 */
/* 清除默认边距 */
*{
    margin: 0;
    padding: 0;
}


/* header设置一个外边距 留出页面最上面的距离 */

/* .header{
} */
/* 语言部分的样式 */

.language{
    width: 100%;
    height: 35px;
    background-color:#101111 ;
}
/* 语言下面的li 标签 用来存放语言 english 韩语 */

.language>ul{
    float: right;
    height: 35px;
    /* right: 470px; */
    margin-right: 210px;
}
.language>ul>li{
    width: 80px;
    height: 35px;
    background-color: red;
    float: left;
    margin-left: 5px;
    list-style: none;
}
.language>ul>li:nth-of-type(1){
    background: url(../img/lag.png);
}
.language>ul>li:nth-of-type(1):hover{
    background: url(../img/lag.png) no-repeat -80px 0;
}
.language>ul>li:nth-of-type(2){
    background: url(../img/lag.png) no-repeat 0px -33px;
}
.language>ul>li:nth-of-type(2):hover{
    background: url(../img/lag.png) no-repeat -80px -33px;
}
.language>ul>li:nth-of-type(3){
    background: url(../img/lag.png) no-repeat 0px -66px;
}
.language>ul>li:nth-of-type(4){
    background: url(../img/lag.png) no-repeat 0px -99px;
}

.language>ul>li:nth-of-type(5){
    padding-left: 30px;
    font-size: 14px;
    line-height: 30px;
    background: url(../img/b7.png) no-repeat 5px 0;
    background-position: 2px;
    background-color: rgb(250, 249, 249);
}

/* 导航条部分 */
.nav{
    width: 100%;
    height: 70px;
    background-color: #0e2a48;
}


/* 清除a标签默认样式 */

a{
    text-decoration: none;
    color: #101111ce;
}


/* 导航条部分 */
.nav>ul{
    margin-left: 20px;
    height: 70px;
}
.nav>ul>li{
    height: 70px;
    padding: 0 65px;
    /* background-color: red; */
    float: left;
    list-style: none;
    margin-right: 10px;
    position: relative;
    
}

.nav>ul>li>a{
    color: white;
    line-height: 70px;
}

#home{
    position: absolute;
    top: 19px;
}

#homeLi{
    width: 40px;
}
	
menu{
	background:#e3e6ea;
	height:70px;
	width:3000px;
	}
	
menu>ul{
	/*height:70px;*/
	float:left;
	margin-left:12%;
	}
	
menu>ul>li{
	height:35px;
	width:150px;
	margin-top:30px;
	background:#0e2a48;
	float:left;
	margin-left:2px;
	text-align:center;/*文本居中*/
	line-height:34px;
    list-style: none;
	
	}
 
menu>ul>li>a{
	display:inline-blockl;/*设置或检索对象是否及如何显示，内联块元素*/
	height:40px;
	width:90px;
	font-weight:bold;
	font-size:20px;
	letter-spacing:1em;/*字间距*/
	color:#ede9e9;
	}
	
	
	
article{
	width:100%;}
	
.topic1{
	height:300px;
	width:1700px;
	background:#e3e6ea;}
 

 
.topic1 p{	
	height:30px;
	width:30px;
	background:url(../images/xlogo.png) no-repeat center;
	background-size:100% 100%;
	margin-left:20px;
	margin-top:10px;
	display:inline-block;}
	
.topic1 h1{
	font-family:"华文行楷";
	font-size:38px;
	color:#0e2a48;
	display:inline-block;}
	
.topic1 a{ 
	display:inline-block;} 
	
.topic1 ul{
	margin-left:30px;
	position:absolute;}
.topic1 ul li{
	float:left;
	margin-right:20px;
    list-style-type:none;
	}
.topic1 ul li img{
	height:150px;
	width:200px;}
	
.topic1 ul li img:hover{
	border:5px solid #F00;}
.topic1 ul li span{
	display:block;
	text-align:center;
	font-family:"华文行楷";
	font-size:20px;
	color:#F00;}
	
.topic1 ul li h5{
	text-align:center;
	font-family:"华文行楷";
	font-size:22px;
	color:#6C0;}
	
.topic2{
	height:300px;
	width:1700px;
	background:#e3e6ea;}
	
.shaoma{
	float:right;
	margin-right:30px;
	margin-top:30px;
	width:240px;
	height:260px;
	background:#e3e6ea;
	font:bold 22px/24px "华文行楷";
	text-align:center;
	display:block;}
	
.shaoma h2{
	font-family:"华文行楷";
	font-size:45px;
	color:#0e2a48;
	margin-top:20px;}
	
.shaoma img{
	display:block;
	float:right;
	height:180px;
	width:180px;
	background-size:100% 100%;
	margin-top:1px;
	margin-right:25px;}
 
.topic2 p{	
	height:30px;
	width:30px;
	background:url(../images/xlogo.png) no-repeat center;
	background-size:100% 100%;
	margin-left:20px;
	margin-top:10px;
	display:inline-block;}
	
.topic2 h1{
	font-family:"华文行楷";
	font-size:38px;
	color:#0e2a48;
	display:inline-block;}
	
.topic2 a{
	display:inline-block;}
	
.topic2 ul{
	margin-left:30px;
	position:absolute;}
.topic2 ul li{
	float:left;
	margin-right:20px;
    list-style-type:none;
	}
.topic2 ul li img{
	height:150px;
	width:200px;}
	
.topic2 ul li img:hover{
	border:5px solid #F00;}
.topic2 ul li span{
	display:block;
	text-align:center;
	font-family:"华文行楷";
	font-size:20px;
	color:#F00;}
	
.topic2 ul li h5{
	text-align:center;
	font-family:"华文行楷";
	font-size:22px;
	color:#6C0;}
	
.topic3{
	height:300px;
	width:1700px;
	background:#e3e6ea;}
	
.tishi{
	float:right;
	margin-right:30px;
	margin-top:30px;
	width:230px;
	height:160px;
	background:#FDEA66;
	font:bold 22px/24px "华文行楷";
	text-align:center;
	color:#0e2a48;}
 
.tishi h2{
	color:#06F;
	margin-top:20px;}
	
.topic3 p{	
	height:30px;
	width:30px;
	background:url(../images/xlogo.png) no-repeat center;
	background-size:100% 100%;
	margin-left:20px;
	margin-top:10px;
	display:inline-block;}
	
.topic3 h1{
	font-family:"华文行楷";
	font-size:38px;
	color:#0e2a48;
	display:inline-block;}
	
.topic3 a{
	display:inline-block;}
	
.topic3 ul{
	margin-left:30px;
	position:absolute;}
.topic3 ul li{
	float:left;
	margin-right:20px;
    list-style: none;
	}
.topic3 ul li img{
	height:150px;
	width:200px;}
	
.topic3 ul li img:hover{
	border:5px solid #F00;}
.topic3 ul li span{
	display:block;
	text-align:center;
	font-family:"华文行楷";
	font-size:20px;
	color:#F00;}
	
.topic3 ul li h5{
	text-align:center;
	font-family:"华文行楷";
	font-size:22px;
	color:#6C0;}
	
/* 底部 */

.footer{
    width: 100%;
    height: 280px;
    background-color: #282928;
    color: #f2f2f2;
    padding: 30px 212px;
    box-sizing: border-box;
}

.footer>.footerTop{
    width: 100%;
    height: 150px;
    /* display: flex; */
    /* justify-content: space-between; */
    padding-bottom: 60px;
    border-bottom: 1px solid rgb(82, 80, 80);
}

.footerTop>.left{
    height: 200px;
    width: 40%;
    float: left;
    border-right: 1px solid rgb(82, 80, 80);
    /* background-color: yellow; */
    
}

.footerTop>.left>.leftWorld{
    width: 100%;
    height: 100%;
    float: left;
}
.footerTop>.left>.leftWorld>h1{
    font-weight: 400;
}

.footerTop>.left>.leftWorld>p{
    font-size: 14px;
    line-height: 55px;
}

/* .footerTop>.left>.rightPic>p{
    font-size: 12px;
    color: #fcf9f9;
} */

.footerTop>.right{
    height: 140px;
    width: 59%;
    float: left;
    
}

.footerTop>.right{
    height: 140px;
    width: 33.33%;
    /* background: green; */
    padding:10px 60px;
    box-sizing: border-box;
}
.footerTop>.right>h3{
    color:#4c87d1 ;
    font-size: 16px;
    margin-left: 20px;
}

.footerTop>.right>ul{
    list-style: none;
}

.footerTop>.right>ul>li{
    width: 100%;
    line-height: 40px;
    padding-left: 15px;
    box-sizing: border-box;
    position: relative;
    background: url(../img/arrow_bottom.png) no-repeat 2px 14px;
}
.footerTop>.right>ul>li:nth-of-type(1){
    padding-left: 39px;
    box-sizing: border-box;
}

.footerTop>.right>ul>li:nth-of-type(1)>img{
    position: absolute;
    top: 10px;
    left: 15px;
}



.footer>p{
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    color: #ecf3ec;
}
.footer>p>span{
    color: rgb(219, 218, 218);
}

/* .footer>p>span:hover{
    color: #777a77;
}
 */
